Source: ros-hydro-dynamixel-pro-driver
Section: misc
Priority: extra
Maintainer: Brian Axelrod <baxelrod@willowgarage.com>
Build-Depends: debhelper (>= 7.0.50~), ros-hydro-catkin, ros-hydro-roscpp, ros-hydro-serial
Homepage: 
Standards-Version: 3.9.2

Package: ros-hydro-dynamixel-pro-driver
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-roscpp, ros-hydro-serial
Description: The dynamixel_pro_driver package
